* {
  font-family: Darker Grotesque;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  width: 100%;
  background-color: #85cdf5;
}

header .container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.header-link {
  position: relative;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.header-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;

  display: block;
  width: 0%;
  height: 4px;
  background-color: #333333;

  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

.header-link:hover::after {
  transform: scale(1, 1);
  display: block;
  width: 100%;
}

footer {
  padding: 40px 0;
  width: 100%;
  background-color: #333333;
}

footer .container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: #fff;
  font-size: 18px;
}

.container__div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer iframe {
  max-width: 350px;
  height: 280px;
  cursor: pointer;
}

.infos {
  margin-left: 40px;
  max-width: 400px;
}

.infos div {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.infos img {
  margin-right: 10px;
}

.infos a {
  font-weight: bold;
  color: #353535;
  padding: 4px 10px;
  background-color: #deb959;
}

div.dev-love {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dev-love p {
  margin-bottom: 20px;
}

@media screen and (max-width: 935px) {
  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.dev-love {
    margin-top: 20px;
  }
}
