main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario-adocao {
  background: #ffffff;
  border: 4px solid #333333;
  box-sizing: border-box;
  width: 55%;
  margin: 100px 0; /* preciso mudar pra ficar responsivo*/
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
}

.titulo-form {
  margin-top: 25px;
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.ordem-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ordem-form div {
  max-width: 425px;
}

.vertical-form {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: 100%;
  margin: 0 0px;
  font-weight: 300;
}

.vertical-form input {
  background: #e6e6e6;
  border: 1px solid #333333;
  box-sizing: border-box;
  line-height: 22px;
  font-size: 20px;
}

.vertical-form textarea {
  resize: none;
  background: #e6e6e6;
  border: 1px solid #333333;
  box-sizing: border-box;
  height: 250px;
  font-size: 20px;
}

.button-send {
  display: flex;
  width: 100%;
}

button {
  margin: 0 auto;
  margin-top: 40px;
  background: #2c5680;
  border: 1px solid #333333;
  padding: 7px 60px;
  color: white;
  font-size: 20px;
}
